<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <title>Gym Fit</title>
    <link rel="stylesheet" href="/static/alimentos.css">
    <link rel="icon" type="image/x-icon" href="logo.png">


</head>

<body>
    <header>
        <div class="div-cabecalho">
            <div id="div-imagem">
                <img id="logo" src="../static/imagens/gymfit.png" alt="Descrição da Imagem">
            </div>
        
        <a id="home" class="botao" href="/">
            <span class="box">
                Home
            </span>
        </a>
    
        <a id="dieta" class="botao" href="/dieta">
            <span class="box">
                Dieta
            </span>
        </a>

        <a id="alimentos" class="botao" href="/">
            <span class="box">
                Alimentos
            </span>
        </a>

        <a id="perfil" class="botao" href="/perfil">
            <span class="box">
                Meu Perfil
            </span>
        </a>
    
        </div>
    </header>

    <div class="cx-selecao">
        <input type="text" class="busProdclass" placeholder="Digite um alimento">
    </div>
    

        <div id="quadrado"></div>
        
        <button id="busProd" class ="busProdclass">Buscar Produto </button>
    
        <script src="../static/script.js"></script>
</body>
</html>