<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <title>Gym Fit</title>
    <link rel="stylesheet" href="/static/dieta.css">
    <link rel="icon" type="image/x-icon" href="logo.png">


</head>

<body>
    <header>
        <div class="div-cabecalho">
            <div id="div-imagem">
                <img id="logo" src="../static/imagens/gymfit.png" alt="Descrição da Imagem">
            </div>
        
        <a id="home" class="botao" href="/">
            <span class="box">
                Home
            </span>
        </a>
    
        <a id="dieta" class="botao" href="/dieta">
            <span class="box">
                Dieta
            </span>
        </a>

        <a id="alimentos" class="botao" href="/">
            <span class="box">
                Alimentos
            </span>
        </a>

        <a id="perfil" class="botao" href="/perfil">
            <span class="box">
                Meu Perfil
            </span>
        </a>
    
        </div>
    </header>

    <div id="pesquisa-alimentos" class="campos">
        <div class="campo-texto">
            <input id="campo1" type="text" placeholder="Nome do Alimento">
            <input id="campo2" type="number" placeholder="Gramas">
        </div>
        <button id="botaoAdicionar" onclick="adicionarCampos()">+</button>
        <button id="botaoRemover" onclick="removerCampo()">-</button>
        <button id="botaoEnviar">Enviar</button>
    </div>
    <div id="dadosRecebidos"></div>
    

</div>
<script src="../static/script2.js"></script>
</body>
</html>