<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <title>Gym Fit</title>
    <link rel="stylesheet" href="/static/inicio.css">
    <link rel="icon" type="image/x-icon" href="logo.png">


</head>

<body>
    <header>
        <div class="div-cabecalho">
            <div id="div-imagem">
                <img src="../static/imagens/gymfit.png" alt="Descrição da Imagem">
            </div>
        </div>

    <div class="div-btn">
        <button>
            <span class="box">
                Home
            </span>
        </button>
    
        <a href="/dieta">
            <span class="box">
                Dieta
            </span>
        </a>

        <a href="/">
            <span class="box">
                Alimentos
            </span>
        </a>

        <button>
            <span class="box">
                Meu Perfil
            </span>
        </button>
    
            </div>
        </div>
    </header>

        <div class="cx-selecao">
            <select id="carrossel" class="opcoes">
                <option>Escolha um alimento</option>
                <option id="chocolate">Chocolate</option>
                <option id="frango">Frango</option>
                <option id="cenoura">Cenoura</option>
                <option id="alface">Alface</option>
            </select>
        </div>

        <div id="quadrado"></div>
        
        <button id="busProd" class ="busProdclass">Buscar Produto </button>
    
        <script src="../static/script.js"></script>
</body>
</html>